# Ignore ctags file
tags

# Ignore cscope files
cscope.files
cscope.out

# Igonore project utilities
project.sh
misc/bash/
sigmasecurepay.dev

# Igonore project vimrc
.project_vimrc

# Ignore logs
*.log

# Ignore docs
docs/
readme.markdown

# Ignore the test files
tests/wordpress-tests/
tests/misc/
tests/api/
tests/logs/

# Ignore raw assets
assets/raw-assets/
*.dat

# Ignore bots
misc/bot/
